[php]
entry=public/index.php
source=app
test=tests
env=.env
dependencies=composer.json

[laravel]
artisan=artisan
routes=routes/
views=resources/views/
migrations=database/migrations/
seeds=database/seeders/
config=config/
env=.env

[tailwind]
config=tailwind.config.js
version=3.4.17
css=resources/css/app.css

[composer]
file=composer.json
lock=composer.lock
vendor=vendor/

[general]
language=php
framework=laravel
node_dependencies=package.json